.err-404{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px red solid;
    
}
.err-404__block{
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.err-404__block_num{
    border: 1px red solid;
    font-weight: 400;
    font-size: 128px;
    line-height: 166px;
    text-align: center;
    margin: 0;
}
.err-404__block_img{
    border: 1px red solid;
    width: 176px;
    height: 176px;
}

.err-404__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}