.err-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.err-404__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.err-404__block_num {
    font-weight: 400;
    font-size: 128px;
    line-height: 166px;
    text-align: center;
    margin: 0;
}

.err-404__block_img {
    width: 176px;
    height: 176px;
}

.err-404__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}